<!DOCTYPE html>
<html lang="en">

<head>
    <title>MyProject</title>
</head>


<body>
    <head>
        <a>Admin role</a>
        <a></a>
    </head>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.username }}</td>
                <td>{{ row.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="/admin" method="post">
        <button type="submit">Log Out</button>
</body>

</html>