<!DOCTYPE html>
<html lang="en">

<head>
    <title>MyProject</title>
</head>


<body>
    <head>
        <a>Hello</a>
        <a></a>
    </head>
    <div>
        <button type="submit" onclick="(function(){window.location.href='login'})();">Log In</button>
        <button type="submit" onclick="(function(){window.location.href='register'})();">Register</button>
        <button type="submit" onclick="(function(){window.location.href='forgot'})();">Forgot Password</button>
    </div>

</body>

</html>